@import "tailwindcss";

:root {
  --background: #ffffff;
  --intermediate: #777777;
  --foreground: #171717;
  --danger: #c13939;
  --success: #57dd88;
}

@theme inline {
  --color-background: var(--background);
  --color-intermediate: var(--intermediate);
  --color-foreground: var(--foreground);
  --color-danger: var(--danger);
  --color-success: var(--success);

  --font-inter: var(--font-inter);
  --font-pixelify-sans: var(--font-pixelify-sans);
  --font-press-start-2p: var(--font-press-start-2p);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --intermediate: #777777;
    --foreground: #ededed;
    --danger: #c13939;
    --success: #57dd88;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-pixelify-sans {
  font-family: var(--font-pixelify-sans), sans-serif;
}

.font-press-start-2p {
  font-family: var(--font-press-start-2p), sans-serif;
}

.button-fill {
  @apply bg-foreground border-2 border-foreground text-background text-center font-pixelify-sans py-2 px-4 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
}

.button-hollow {
  @apply bg-transparent border-2 border-foreground text-foreground text-center font-pixelify-sans py-2 px-4 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
}

.button-danger {
  @apply bg-transparent border-2 border-danger text-danger text-center font-pixelify-sans py-2 px-4 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed;
}

.fake-button-fill {
  @apply bg-foreground border-2 border-foreground text-background text-center font-pixelify-sans py-2 px-4;
}

.fake-button-hollow {
  @apply bg-transparent border-2 border-foreground text-foreground text-center font-pixelify-sans py-2 px-4;
}

.label-text {
  @apply block text-foreground font-pixelify-sans mb-1;
}

.input-field {
  @apply flex-1 border-2 border-foreground bg-background text-foreground font-press-start-2p text-xs p-2 focus:outline-none box-border;
}

.generic-bordered-container {
  @apply p-4 border-2 border-foreground bg-background text-foreground; 
}

.danger-container {
  @apply bg-red-900 border border-red-700 text-red-200;
}

.page-title {
  @apply text-2xl text-foreground after:content-['_'] after:animate-pulse after:ml-1;
}

.responsive-width {
  @apply w-full md:w-auto;
}

.checkbox {
  @apply w-4 h-4 bg-background border-2 border-foreground cursor-pointer outline-0;
}
